.root {
  position: absolute;
  top: 2vh;
  left: 0;
  right: 0;

  height: 40px;
  width: 400px;

  margin: 0 auto;
  gap: 2vh;
  display: flex;
  

  &.mobile {
    top: auto;
    bottom: 2vw;
    gap: 2vw;
    width: 96vw;
  }
}

.button {
  display: flex;
  
  height: 100%;
  aspect-ratio: 1 / 1;
  width: 40px;

  justify-content: center;
  align-items: center;

  border: none;
  background: none;
  border-radius: 10px;
  cursor: pointer;

  padding: 0;
  box-shadow: rgba(0, 0, 0, 1) 0px 0.5vh 10px -10px;

  &.hintButton {
    background: rgba(0, 122, 255, 0.9);
    border: rgba(0, 64, 221, 0.1) solid 3px;
    color: rgba(255, 255, 255, 0.8);

    &:active {
      transform: scale(0.95);
      filter: brightness(0.9);
    }
  }
}
