.root {
  position: absolute;
  top: 2vh;
  left: 0;
  right: 0;

  height: 40px;
  width: 400px;

  margin: 0 auto;
  gap: 1vh;
  display: flex;
  

  &.mobile {
    top: auto;
    bottom: 2vw;
    gap: 2vw;
    width: 96vw;
  }
}

.button {
  display: flex;
  
  // height: 100%;
  // aspect-ratio: 1 / 1;
  // width: 40px;

  // justify-content: center;
  // align-items: center;

  // border: none;
  // background: none;
  // border-radius: 10px;
  // cursor: pointer;

  // padding: 0;
  height: 100% !important;
  width: 40px;
  aspect-ratio: 1 / 1;

  .hintIcon {
    position: relative;
    top: -1px;
    // color: rgb(64, 64, 68);
    height: 50px;
  }
}
