.root {
    position: relative;
    text-align: center;

    width: 100vw;
    height: 100dvh;
}

.info {
    position: absolute;

    top: 1vh;
    left: 1vh;

    text-align: left;
}

.recognized {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;

    &.mobile {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
    }
}

.emptyCity {
    width: 160px;
    height: 29px;
    border-radius: 3px;
    background: #2e2e2f3a;
}
 
.link {
    text-decoration: none;
}